* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Cause", cursive;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}

header {
  width: 100%;
  height: 5vh;
}

.head-tag {
  display: flex;
  background-color: rgb(38, 38, 38);
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  align-content: center;
  color: rgb(185, 202, 255);
}

.lang {
  margin-left: 6rem;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

#english,
#money {
  font-size: 1rem;
  background: transparent;
  color: rgb(185, 202, 255);
  outline: none;
  border: none;
}
.help-sign-in {
  margin-right: 6rem;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

nav {
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 999;
  height: 10vh;
  width: 99vw;
  font-size: 1.3em;
}
.nav-menu {
  /* position: sticky;
  top: 1rem; */
  width: 95%;
  height: 100%;
  display: flex;
  margin: 0 2rem;
}

.logo-image {
  margin-left: 5rem;
  cursor: pointer;
  width: 20%;
  height: 100%;
}

.nav-menu-list {
  width: 50%;
  height: 100%;
  display: grid;
  align-items: center;
}

.nav-menu-list > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.nav-menu-list > ul > li {
  cursor: pointer;
}

.nav-icons {
  width: 30%;
  height: 100%;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.nav-icons > div > i {
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  transition-duration: 0.4s;
}

.nav-icons > div:not(#search):hover > i {
  background-color: crimson;
  color: white;

  cursor: pointer;
}

#search {
  padding-left: 5px;
  gap: 5px;
  padding-right: 2rem;
  cursor: pointer;
  border: solid 2px rgb(178, 178, 178);
  border-radius: 10px;
  display: flex;
  font-size: 0.8em;
  flex-wrap: wrap;
  align-content: center;
}

#search-area {
  font-size: 1rem;
  outline: none;
  border: none;
  background: transparent;
}

.items-list {
  display: flex;
  flex-direction: column;
}

.nav-menu-list > ul > li .un-line {
  display: block;
  height: 3px;
  background-color: black;
  width: 0;
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 5px;
}
.nav-menu-list > ul > li:hover .un-line {
  width: 100%;
}
.nav-menu-list > ul > li.active .un-line {
  width: 100%;
}
.main-prodcut-container{
    display: flex;
    align-items: flex-start;
    gap: 2.5rem;
    background-color: #F9F3F0;
    padding: 5rem;
}
.product-preview{
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    grid-template-rows: repeat(5 , 1fr);
    grid-template-columns: repeat(2 , 1fr);
}
.prod-description{
    position: sticky;
    top: 5em;
}
.prod-name-price-review{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.prod-name{
    font-size: 2.5em;
}
.price{
    font-size: 1.8em;
    font-weight: bold;
}
.product-hero{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
gap: 20px;
}
.prduct-stock-deleviry{
    
    display: flex;
        flex-direction: column;
      gap: 5px;
}
.color-size-price{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.color{
  height: 13px;
  width: 13px;
  cursor: pointer;
  background-color: #AAE6F8;
  border-radius: 50%;
  
  

}

.color-outline{
  display: flex;
     align-items: center;
    justify-content: space-around;

  height: 23px;
  width: 23px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: solid 1px #AAE6F8;

}
.prod-colour{
    align-items: center;
    flex-wrap: wrap;
gap: 1.2rem;
    display: flex;
}
/* .color-of-product{
    margin-top: 1.3rem;
} */
.color-container{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.color-container>h2{
    font-size: 1.7em;
}